    <h1 class="text-dark bg-warning p-2  text-center p-0 mb-4"> Tab using NgSwitch</h1>
  <div class="container">
    <div class="row">
      <div class="col-12">
            <ul class="nav nav-pills p-1 m-2 bg-info text-dark">
              <li class="nav-items " *ngFor="let tabLink of tabsLinkArr ; trackBy : trackByTabId">
                <a  
                 (click)="selectedTab = tabLink.Title"
                [ngClass]="{
                  'active': selectedTab === tabLink.Title.toLowerCase()
                }"
                href="javascript:;" class="nav-link d-flex align-items-center"><mat-icon [fontIcon]="tabLink.fontIcon"></mat-icon>{{tabLink.Title | uppercase}}</a>
              </li>
            </ul>

          <div class="card" [ngSwitch]="selectedTab">
              <ng-container *ngFor="let tab of tabsLinkArr ; trackBy : trackByTabId">
                  <div class="card-body" *ngSwitchCase="tab.Title.toLowerCase()">
                    <h3 m-0 p-0>{{ tab.Title | uppercase }}</h3>
                    <p m-0 p-0>{{ tab.content }}</p>
                  </div>
             </ng-container>
              <div *ngSwitchDefault>
                <p>Please select a tab</p>
              </div>
          </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills p-1 m-2 bg-secondary text-info">
          <li class="nav-items" *ngFor="let newTab of  tabArr ; trackBy:trackByTabId"  >
            <a   (click)=" newSelectedTab = newTab.Title"
             [ngClass]="{
                  'active': newSelectedTab === newTab.Title.toLowerCase()
                }"
             href="javascript:;" class="nav-link d-flex align-items-center"><mat-icon [fontIcon]="newTab.fontIcon"></mat-icon>{{newTab.Title}}</a>
          </li>
        </ul>
         <div class="card" [ngSwitch]=" newSelectedTab">
              <ng-container *ngFor="let link of tabArr ; trackBy : trackByTabId">
                  <div class="card-body" *ngSwitchCase="link.Title.toLowerCase()">
                    <h3 m-0 p-0>{{ link.Title | uppercase }}</h3>
                    <p m-0 p-0>{{ link.content }}</p>
                  </div>
             </ng-container>
              <div *ngSwitchDefault>
                <p>Please select a tab</p>
              </div>
          </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
          <ul class="nav nav-pills ">
            <li class="nav-items" *ngFor="let skill of skillsArr ; trackBy: trackBySkillId">
                <a 
                (click)="selectedSkill = skill.title"
                [ngClass]="{
                  'active text-success':  selectedSkill===skill.title 
                }"
                href="javascript:;" class="nav-link">{{skill.title | uppercase}}</a>
            </li>
          </ul>
          <div>
            <div class="card h-100 my-3"  [ngSwitch]="selectedSkill">
              <ng-container *ngFor="let s of skillsArr ; trackBy:trackBySkillId">
                <div *ngSwitchCase="s.title.toLowerCase()">
                    <div class="card-header" >
                      <strong>{{s.title | uppercase}}</strong>
                     </div>
                    <div class="card-body">
                          <img [src]="s.avtar" alt="">
                           <p>{{s.content}}</p>
                      </div>
                      </div>
              </ng-container>
            </div>
          </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">

        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let bs of backendSkillArr ; let i = index; trackBy:trackByBackSkill">
            <a 
            [ngClass]="{
              'active bg-warning' : bs.skillName === backendSkill
            }"
            (click)="backendSkill= bs.skillName"
            href="javascript:;" class="nav-link">{{bs.skillName | uppercase}}</a>
          </li>
        </ul>

        <div class="card h-100" [ngSwitch]="backendSkill">
          <ng-container  *ngFor="let bSkill of backendSkillArr; let i = index ; trackBy:trackByBackSkill">
             <div class="card-body" *ngSwitchCase="bSkill.skillName">
                 {{bSkill.skillName | uppercase}}
             </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>


  
  